
/* ===================== ГЛАВНАЯ ======================= */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  text-transform: uppercase;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
  color: #000000;
}

h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  /*outline: 1px solid #bca;*/
}

.header {
  background: #eeeeee;

  /*outline: 1px solid red;*/
}

.header .active {
  padding-bottom: 6px;
  border-bottom: 2px solid #fb565a;
}

.header .top {

  /*outline: 1px solid yellow;*/
}

.main-nav {
  padding-top: 75px;
  float: left;
  width: 560px;
  margin-right: 40px;

  /*outline: 1px solid orange;*/
}

.main-nav ul {
  font-size: 0;
}

.main-nav li {
  margin-right: 46px;
  display: inline-block;
  vertical-align: top;
}

.main-nav a {
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
}

.main-nav a:hover {
  color: #fb565a;
}

.main-nav a:active {
  color: rgba(0,0,0,0.3);
}

.logo {
  float: left;
  display: block;
  margin-right: 200px;
  padding-top: 50px;

  /*outline: 1px solid orange;*/
}

.logo a {
  display: block;
  width: 160px;
  height: 65px;
}

.logo a:hover {
  opacity: 0.8;
}

.logo a:active {
  opacity: 0.3;
}

.cart {
  float: right;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  max-width: 200px;

  /*outline: 1px solid orange;*/
}

.cart a {
  /*display: block;*/
  position: relative;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  padding-left: 40px;

  /*outline: 1px solid green;*/
}

.cart a::before {
  content: "";
  position: absolute;
  background-image: url(../img/index/spritesheet.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-position: -20px -20px;
  left: 0;
  top: 4px;
  opacity: 0.3;
}

.cart a:hover {
  color: #fb565a;
}

.cart a:active {
  color: rgba(0,0,0,0.3);
}

.index-header {
  height: 546px;
}

.catalog-header {
  height: 355px;
}

.catalog-header .down {
  padding: 77px 0 103px;


}

.catalog-header h1 {
  text-transform: none;
  text-align: center;
  margin: 0;
  color: #000;
}


/* >>>>>>>>>>>>>>>> слайдер   -----------------  */


.slider {
  position:relative;
  height: 431px;
  
  /*outline: 1px solid orange;*/
}

.slider input {
  display: none;
}

.slides {
  width: 100%;
  height: 100%;

  /*outline: 1px solid green;*/
}

.slide {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 100%;
  height: 100%;
  display: none;

  /*outline: 1px solid green;  */
}

.slide .text {
  width: 520px;
  padding-top: 81px;

  /*outline: 1px solid blue;*/
}

.slide h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
  margin: 0;
  margin-bottom: 21px;
}

.slide p {
  text-transform: none;
  margin-bottom: 41px;
}

.slide a {
  width: 240px;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
  display: inline-block;
  padding: 16px 0;
  text-align: center;
  border-radius: 5px;
  vertical-align: top;
}

.slide a:hover {
  background-color: #e74246;
}

.slide a:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.controls {
  position: absolute;
  left: 50%;
  bottom: 95px;
  margin-left: -100px;
  text-align: center;
  width: 200px;
  height: 20px;

  /*outline: 1px solid green;*/
}

.controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  margin-right: 15px;

  /*outline: 1px solid green;*/
}

#btn1:checked ~ .controls label[for="btn1"]::after,
#btn2:checked ~ .controls label[for="btn2"]::after,
#btn3:checked ~ .controls label[for="btn3"]::after {
  content: "";
  position: relative;
  left: 5px;
  top: 5px;
  display: block;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


#btn1:checked ~ .slides .slide:nth-child(1) {
  display: block;
  background-image: url('../img/index/ph-slide1.jpg');
}

#btn2:checked ~ .slides .slide:nth-child(2) {
  display: block;
  background-image: url('../img/index/ph-slide2.jpg');
}

#btn3:checked ~ .slides .slide:nth-child(3) {
  display: block;
  background-image: url('../img/index/ph-slide3.jpg');
}


/* -------------------   слайдер   <<<<<<<<<<<<<<<<<<<<  */


.index-main {
  padding: 80px 0;

  /*outline: 1px solid red;*/
}

.services {
  margin-bottom: 75px;

  /*outline: 1px solid yellow;*/
}

.service {
  float: left;
  width: 300px;
  margin-right: 100px;

  /*outline: 1px solid orange;*/
}

.service:last-child {
  margin-right: 0;
}

.service h3 {
  /* странные пиксели */
 margin-top: 20px;
 margin-bottom: 15px;
 text-transform: uppercase;
}

.service p {
  text-transform: none;
  margin-bottom: 30px;
  color: #283136;
  width: 260px
}

.service a {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
/*  height: 50px;
  width: 160px;*/
  border-radius: 5px;
  vertical-align: top;
  padding: 16px 40px;
  color: #fff;
}

.services .web {
  background-color: #fb565a;
}

.service .web:hover {
  background-color: #e74246;
}

.services .web:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
  color: rgba(255,255,255,0.3);
}

.services .app {
  background-color: #00ca74;
}

.services .app:hover {
  background-color: #00bc6c;
}

.services .app:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px #009958;
  color: rgba(255,255,255,0.3);
}

.services .pres {
  background-color: #efc84a;
}

.services .pres:hover {
  background-color: #eab534;
}

.services .pres:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px #ce961f;
  color: rgba(255,255,255,0.3);
}

.about_us {
  margin-bottom: 80px;
  /*outline: 1px solid yellow;*/
}

.about_us .left {
  float: left;
  width: 660px;
  margin-right: 40px;
  padding-top: 60px;
  text-transform: none;
  /*outline: 1px solid orange;*/
}

.about_us .left p {
   margin-bottom: 38px;
}

.about_us .left p b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about_us .left p:nth-child(3) {
  margin-bottom: 25px;
}

.about_us .left p:nth-child(3) b {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.about_us .left .text {
   position: relative;
   font-size: 16px;
   line-height: 24px;
   color: #283136;
   margin-bottom: 24px;
   padding-left: 40px;
}

.about_us .left .text::before {
  content: "";
  top: 11px;
  left: 0;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


.about_us .right {
  float: right;
  width: 360px;
  padding-top: 50px;
  /*outline: 1px solid orange;*/
}

.about_us .right img {
  margin-bottom: 15px;
}

.about_us .right p {
  text-align: center;
  margin-bottom: 50px;
  /*font-weight: bold;*/
}

.about_us .percent {
  display: inline-block;
  vertical-align: top;
  width: 115px;
}

.about_us .percent b {
  font-size: 45px;
  line-height: 10px;
}

.about_us .percent .sup {
  vertical-align: super;
  font-size: 26px;
  font-weight: normal;
}

.about_us .percent p {
  line-height: 18px;
  text-transform: none;
  text-align: left;
  color: #283136;
}

.clients {
  font-size: 0;
  margin-bottom: 30px;

  /*outline: 1px solid yellow;*/
}

.client {
  display: inline-block;
  width: 260px;
  margin-right: 40px;
  vertical-align: middle;
  text-align: center;
  opacity: 0.2;
}

.client:last-child {
  margin-right: 0;
}

.client:hover {
  opacity: 1;
}

.client:active {
  opacity: 0.1;
}

.contacts {
  position: relative;
}

.index-footer .map {
  background: url(../img/index/ph-map.png) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1440px;
  height: 416px;
  margin: 0 auto;
}

/*.index-footer .map img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}*/


.contacts .write_us {
  position: absolute;
  top: 55px;
  left: 55px;
  width: 220px;
  padding: 47px 50px;
  background-color: #fff;
  text-align: left;

  /*outline: 1px solid yellow;*/
}

.contacts .write_us h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
}

.contacts .write_us p {
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  margin-bottom: 18px;
}

.contacts .write_us .btn {
  display: inline-block;
  width: 200px;
  padding: 16px 10px;
  margin-top: 20px;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  vertical-align: top;
}

.contacts .write_us .btn:hover {
  background-color: #e74246;
}

.contacts .write_us .btn:active {
  box-shadow: inset 0 3px #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);

}

.social {
  padding: 70px 0 40px;
  /*outline: 1px solid yellow;*/
}

.social .left {
  /*font-size: 0;*/
  float: left;
  width: 300px;
  margin-right: 100px;

  /*outline: 1px solid orange;*/
}

.social .socBtn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;

}

.social .socBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -13px;
  width: 26px;
  height: 22px;
  background: url(../img/index/spritesheet.png) no-repeat;
}

.social .vk::before {
/*  width: 26px;
  height: 15px;*/
  background-position: -20px -460px;
}

.social .fb::before {
/*  width: 12px;
  height: 22px;*/
  background-position: -14px -201px;
}

.social .inst::before {
/*  width: 21px;
  height: 21px;*/
  background-position: -17px -263px;
}

.social .socBtn:hover {
  background-color: #e74246;
}

.social .socBtn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.social .socBtn:active::before {
  opacity: 0.3;
}

.social .right {
  float: left;
  width: 560px;
  padding-top: 5px;
  /*outline: 1px solid orange;*/
}

.social .right b {
  font-size: 36px;
  line-height: 36px;

  text-transform: none;
  /*margin-bottom: ;*/
}

.social .right p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-transform: none;
  margin-top: 10px;
  /*margin-top: 10px;*/
}



/* ======================== КАТАЛОГ ======================== */

.catalog-main {
  padding: 57px 0 60px;
  /*outline: 1px solid red;*/
}

.filter {
  float: left;
  width: 260px;
  height: 777px;
  margin-right: 40px;
  /*outline: 1px solid yellow;*/
}

legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.price {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.price legend {
  margin-bottom: 47px;
}

.range-toggles {
  padding: 39px 21px;
  background-color: #eee;
  width: 218px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.range-toggles .scale {
  position: relative;
  height: 2px;
  background-color: #d7dcde;
}

.range-toggles .bar {
  height: 2px;
  width: 140px;
  background-color: #00ca74;
}

.range-toggles .toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-toggles .toggle-min {
  left: 0;
}

.range-toggles .toggle-max {
  left: 130px;
}

.range-price {
  font-size: 0;
  /*outline: 1px solid orange;*/

}

.range-price label {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: normal;
  vertical-align: top;
  width: 50%;
  /*outline: 1px solid orange;*/
}

.range-price input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  padding: 8px 10px;
  width: 60px;
  background-color: #eee;
  border: 0;
  border-radius: 5px;
  margin-left: 9px;

  /*outline: 1px solid green;*/
}

.range-price .price-min {
  text-align: left;

/*outline: 1px solid green;*/
}

.range-price .price-max {
  text-align: right;

/*outline: 1px solid green;*/
}

 
.grid legend,
.features legend {
  margin-bottom: 12px;
}

.grid li,
.features li {
  position: relative;
  margin-bottom: 16px;

  /*outline: 1px solid #fcd;*/
}

.grid li:last-child,
.features li:last-child {
  margin-bottom: 0;
}

.grid label,
.features label {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: none;
  padding-left: 37px;
  cursor: pointer;
  color: #283136;

  /*outline: 1px solid green;*/
}

.grid input[type="radio"],
.features input[type="checkbox"] {
  display: none;
}

.grid {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.grid input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 4px #4d4d4d;
  left: 0;
  top: 0;
  opacity: 0.4;

  /*outline: 1px solid blue;*/
}

.grid input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 8px;
  left: 8px;
  background-color: #4d4d4d;
  opacity: 0.4;

  /*outline: 1px solid blue;*/
}

.grid input[type="radio"] + label:hover {
  color: #000;
}

.grid input[type="radio"] + label:hover::before,
.grid input[type="radio"] + label:hover::after {
  opacity: 1;
}


.grid input[type="radio"]:disabled + label,
.grid input[type="radio"]:disabled + label {
  color: rgba(40, 49, 54, 0.3);
  cursor: default;
}

.grid input[type="radio"]:disabled + label::before,
.grid input[type="radio"]:disabled + label::after {
  opacity: 0.1;
}

.features {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.features input[type="checkbox"] + label::before {
  background-image: url(../img/index/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -20px -75px;
  width: 23px;
  height: 23px;
  left: 0;
  opacity: 0.4;
  content: "";
  position: absolute;

  /*outline: 1px solid orange;*/
}

.features input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  background-position: -20px -138px;
}

.features input[type="checkbox"] + label:hover {
  color: #000;
}

.features input[type="checkbox"] + label:hover::before {
  opacity: 1;
}

.features input[type="checkbox"]:disabled + label {
  color: rgba(40, 49, 54, 0.3);
  cursor: default;
}

.features input[type="checkbox"]:disabled + label::before {
  opacity: 0.1;
}


.submit {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  background-color: #eee;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  vertical-align: top;
}

.submit:hover {
  background-color: #dfdfdf;
}

.submit:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}


.templates {
  float: right;
  width: 760px;
  /*outline: 1px solid yellow;*/
}


.sort {
  margin-bottom: 60px;
  font-size: 0;
  line-height: 0;

  /*outline: 1px solid orange;*/
}

.sort .left {
  float: left;
}

.sort .right {
  float: right;
}

.sort .left span {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.sort .right a {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  margin-right: 28px;
}

.sort .right a:nth-of-type(3) {
  margin-right: 48px;
}

.sort .right a:nth-of-type(4) {
  margin-right: 18px;
}

.sort .right a:last-child {
  margin-right: 0;
}

.sort .right a:hover {
  color: rgba(0,0,0,0.6);
}

.sort .right a:active {
  color: rgba(0,0,0,1);
}

.sort .down {
  display: inline-block;
  background: url(../img/index/spritesheet.png) no-repeat;
  width: 9px;
  height: 9px;
  background-position: -20px -366px;
  opacity: 0.2;
  vertical-align: bottom;
}

.sort .up {
  display: inline-block;
  background: url(../img/index/spritesheet.png) no-repeat;
  width: 9px;
  height: 9px;
  background-position: -20px -415px;
  opacity: 0.2;
  vertical-align: bottom;
}

.sort .up:hover {
  opacity: 0.4;
}

.sort .up:active {
  opacity: 1;
}

.sort .down:hover {
  opacity: 0.4;
}

.sort .down:active {
  opacity: 1;
}


.template-list {
  font-size: 0;
}

.template {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 40px;
  margin-top: 35px;
  border-top: 40px solid rgba(77,77,77,0.12);
  border-radius: 3px;
  /*outline: solid 1px;*/
}

.template span {
  position: absolute;
  width: 100px;
  height: 15px;
  top: -27px;
  left: 15px;
  /*outline: solid 1px;*/
}

.template span i {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.template:nth-of-type(2n) {
  margin-right: 0;
}

.template:nth-of-type(-n+2) {
  margin-top: 0;
}

.template img {
  width: 360px;
  display: block;
  /*box-shadow: inset 30px 30px #000;*/
}

.template:hover {
  box-shadow: 0 5px 20px rgba(0,1,1,0.25);
  border-top: 40px solid rgba(77,77,77,1);
}

.template:hover .template-price {
  display: block;
}

.template-price {
  position: absolute;
  bottom: 0;
  width: 220px;
  background-color: #eee;
  text-align: center;
  padding: 29px 70px 44px;
  display: none;
}

.template-price h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 18px;
  padding: 0;
  /*width: 200px;*/
}

.template-price a {
  text-decoration: none;
  color: #000;
}

.template-price p {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #666666;
  font-weight: normal;
  text-transform: none;
  /*width: 200px;*/
  margin: 0 0 30px;
}

.template-price .btn {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  /*height: 50px;*/
  padding: 16px 0;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.template-price .btn:hover {
  background-color: #e74246;
}

.template-price .btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}


.paginator {
  font-size: 0;
  margin-top: 60px;
}

.paginator a {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 39px;
  height: 18px;
  background-color: #eee;
  margin-right: 9px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 16px 6px;
  border-radius: 3px; 
}


.templates .paginator .active {
  border: 3px solid #dbdbdb;
  background-color: #fff;
  padding: 13px 3px;
  box-shadow: none;
}

.paginator a:last-child {
  width: 260px;
}

.paginator a:hover {
  background-color: #dfdfdf;
}

.paginator a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}


/* ======  модальное окно ====== */


.modal {
  position: fixed;
  display: none;
  width: 760px;
  margin-left: -480px;
  text-transform: none;
  padding: 70px 100px 85px;
  top: 20px;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 25px 60px rgba(0,0,0,0.75);
  /*z-index: 1000;*/
}

.modal-open {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  /*z-index: 10; */
}

.overlay-open {
  display: block;
}

.modal i::before,
.modal i::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 5px;
  top: 70px;
  right: 100px;
  background-color: rgba(251,86,90,0.3);
  cursor: pointer;
}

.modal i::before {
  transform: rotate(45deg);
}

.modal i::after {
  transform: rotate(-45deg);
}

.modal i:hover::before,
.modal i:hover::after {
  background-color: rgba(251,86,90,1);
}

.modal i:active::before,
.modal i:active::after {
  background-color: rgba(251,86,90,0.1);
}

.modal fieldset {
  padding: 0;
  margin: 0;
}

.modal legend {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 50px;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal .name-mail {
  font-size: 0;
  margin-bottom: 34px;
}

.modal .name-mail .name {
  float: left;
  width: 360px;
}

.modal .name-mail .mail {
  float: right;
  width: 360px;
}

.modal .name-mail input[type="text"],
.modal .name-mail input[type="email"] {
  width: 326px;
  height: 46px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  padding: 1px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.modal .name-mail input[type="text"]:hover,
.modal .name-mail input[type="email"]:hover,
.modal .text textarea:hover {
border: solid 2px #b4b9bb;
}

.modal .name-mail input[type="text"]:focus,
.modal .name-mail input[type="email"]:focus,
.modal .text textarea:focus  {
border: solid 2px #000;
}

.modal .name-mail input[type="text"]:invalid,
.modal .name-mail input[type="email"]:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}

.modal .text textarea {
  width: 760px;
  height: 118px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-bottom: 45px;
}

.modal .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 16px 0;
  width: 260px;
  background-color: #fb565a;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal .btn:hover {
  background-color: #e74246;
}

.modal .btn:active {
  box-shadow: inset 0 3px #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}
